<html>
    <head>
         <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>TRASHTRASH</title>
        <link rel="stylesheet" type="text/css" media="screen" href="./css/style.css">
    </head>
    <body>
        {{{ body }}}
      
      <script src="./js/three.min.js"></script> 
      <script src='./js/VRButton.js'></script>
      <script src='./js/GLTFLoader.js'></script>
      <script src="./js/simpleVRScene.js"></script> 
      
</html>