<div class='main-container'>
    <h1 class='main-title'>Pretty Digital</h1>
    <a href='/prettydigital'><h2 class="main-link">Play Experience</h2></a>
    <a href='/audioviz'><h2 class="main-link">Play Audio Test</h2></a>
</div>